{% extends 'base.html.twig' %}

{% block title %}
    Créer un nouveau lieu
{% endblock %}

{% block body %}
{#     Formulaire de création d'un lieu#}
    <div class="container container-form w-100 m-auto">
        <h2>Créer un nouveau lieu</h2>
        {{ form_start(lieuForm, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': ''}}) }}

        {% for field in lieuForm %}
            {% if field.vars.name != '_token' %}
            <div class="mb-3">
                {{ form_label(field) }}
                {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label}}) }}
                {% if not field.vars.valid %}
                    <div class="text-danger">
                        {{ form_errors(field) }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>

        {{ form_end(lieuForm) }}
    </div>
{% endblock %}
