{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form-login w-100 m-auto">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <div class="text-center mb-2">
                <i class="bi bi-person-circle"></i>
            </div>

            <h3 class="mb-5 font-weight-normal text-center h3-underline">Se connecter</h3>
            <div class="mb-3">
                <label for="inputIdentifiant" class="form-label">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputIdentifiant" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Mot de passe</label>
                <div class="input-group">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
                <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}
{% block extraJs %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#inputPassword');

    togglePassword.addEventListener('click', function() {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.querySelector('i').classList.toggle('bi-eye');
    this.querySelector('i').classList.toggle('bi-eye-slash');
    });
    });
    </script>
{% endblock %}