{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2>{{ participant.pseudo }}</h2>
        <ul class="list-group mb-3">
            <li class="list-group-item">
                {% if participant.imageProfile is not empty %}
                    <img src="{{ asset('images/profile/' ~ participant.imageProfile) }}" alt="{{ participant.pseudo }}"
                         class="img-fluid rounded-circle" style="width: 160px; height: 160px;">
                {% else %}
                    <img src="{{ asset('images/profile/default.jpg') }}" alt="{{ participant.pseudo }}"
                         class="img-fluid rounded-circle" style="width: 160px; height: 160px;">
                {% endif %}
            </li>
            <li class="list-group-item">Prénom : {{ participant.prenom }}</li>
            <li class="list-group-item">Nom : {{ participant.nom }}</li>
            <li class="list-group-item">Téléphone :
                {{ participant.telephone is null ? 'non renseigné' : participant.telephone }}
            </li>
            <li class="list-group-item">Email : {{ participant.email }}</li>
            <li class="list-group-item">Campus : {{ participant.campus.nom }}</li>
        </ul>
        {% if participantConnecte and participantConnecte.id == participant.id %}
            <a href="{{ path('participant_modifier', {'id' : participant.id}) }}" class="btn btn-success">Modifier</a>
        {% endif %}
    </div>
{% endblock %}
