{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-detail mt-5">
        <div>
            <h2 class="text-center mb-4">Nom de la sortie : <br>{{ sortie.nom }}</h2>
            <p><span>Date heure de la sortie :</span> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            <p><span>Date limite d'inscription :</span> {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
            <p><span>Nombre de places :</span> {{ sortie.nbInscriptionsMax }} places</p>
            <p><span>Durée :</span> {{ sortie.duree }} minutes</p>
            <p><span>Description :</span> {{ sortie.infosSortie }}</p>
            <p><span>Campus :</span> {{ sortie.campus.nom }}</p>
            <p><span>Lieu :</span> {{ sortie.lieu.nom }}</p>
            <p><span>Rue :</span> {{ sortie.lieu.rue }}</p>
            <p><span>Code Postal :</span> {{ sortie.lieu.codePostal }}</p>
            <p><span>Latitude :</span> {{ sortie.lieu.latitude }}</p>
            <p><span>Longitude :</span> {{ sortie.lieu.longitude }}</p>
        </div>
        <div class="d-flex gap-3 justify-content-end mb-3">
            {% if app.user and app.user.nom == (sortie.organisateur.nom) %}
                {% if sortie.etat.libelle == 'Creee' %}
                    <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn btn-success">Publier</a>
                {% endif %}
                {% if sortie.etat.libelle != "Cloturee" and sortie.etat.libelle != "Annulee" %}
                    <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}"  class="btn btn-danger">Annuler</a>
                {% endif %}
            {% endif %}
            {% set isParticipant = false %}
            {% for participant in sortie.participants %}
                {% if app.user and app.user.nom == participant.nom %}
                    {% set isParticipant = true %}
                {% endif %}
            {% endfor %}
            {% if isParticipant and sortie.etat.libelle != "Cloturee" and sortie.etat.libelle != "Annulee" and sortie.etat.libelle != "Passee" %}
                <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="btn btn-warning">Se désister</a>
            {% else %}
                {% if sortie.etat.libelle == "Ouverte" %}
                    {% if sortie.dateLimiteInscription > "now"|date('Y-m-d H:i') %}
                        {% if sortie.participants.count < sortie.nbInscriptionsMax %}
                            <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-primary">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endif %}
            <a class="btn btn-primary"
               href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <h3 class="text-center mb-3">Participants Inscrits</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom & Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.participants %}
                        <tr>
                            <a>
                                <td><a href="{{ path('participant_detailler', {'id' : participant.id}) }}">{{ participant.pseudo }}</a></td>
                            </a>
                            <td>{{ participant.prenom | title}} {{ participant.nom | upper }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}
