{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h2>Nom de la sortie : {{ sortie.nom }}</h2>
            <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
            <p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>
            <p>Durée : {{ sortie.duree }} minutes</p>
            <p>Description et infos : {{ sortie.infosSortie }}</p>
            <p>Campus : {{ sortie.campus.nom }}</p>
            <p>Lieu : {{ sortie.lieu.nom }}</p>
            <p>Rue : {{ sortie.lieu.rue }}</p>
            <p>Code Postal : {{ sortie.lieu.codePostal }}</p>
            <p>Latitude : {{ sortie.lieu.latitude }}</p>
            <p>Longitude : {{ sortie.lieu.longitude }}</p>
        </div>
        <div>
            <a class="btn btn-primary" style="margin-top: 10px; margin-left: 10px; margin-bottom: 10px;"
               href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 class="text-center mb-3">Participants Inscrits</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom + Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.participants %}
                        <tr>
                            <a>
                                <td><a href="{{ path('participant_detailler', {'id' : participant.id}) }}">{{ participant.pseudo }}</a></td>
                            </a>
                            <td>{{ participant.prenom | title}} {{ participant.nom | upper }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if app.user and app.user.nom == (sortie.organisateur.nom) %}
            {% if sortie.etat.libelle == 'Créee' %}
                <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
            {% endif %}
            {% if sortie.etat.libelle != "Clôturée" and sortie.etat.libelle != "Annulée" %}
                <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
            {% endif %}
        {% endif %}
        {% set isParticipant = false %}
        {% for participant in sortie.participants %}
            {% if app.user and app.user.nom == participant.nom %}
                {% set isParticipant = true %}
            {% endif %}
        {% endfor %}
        {% if isParticipant and sortie.etat.libelle != "Clôturée" and sortie.etat.libelle != "Annulée" and sortie.etat.libelle != "Passée" %}
            <a href="{{ path('sortie_desister', {'id': sortie.id}) }}">Se désister</a>
        {% else %}
            {% if sortie.etat.libelle == "Ouverte" %}
                {% if sortie.dateLimiteInscription > "now"|date('Y-m-d H:i') %}
                    {% if sortie.participants.count < sortie.nbInscriptionsMax %}
                        <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endif %}
    </div>
{% endblock %}
