{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <div class="container container-liste mt-5">
    <h2>Liste des sorties</h2>

        <span>Date du jour :</span> {{ "now"|date('d/m/Y H:i') }}

    {% if app.user %}
        <p><span>Participant :</span> {{ app.user.prenom }} {{ app.user.nom }}</p>
    {% endif %}

{#     Formulaire de recherche de sorties#}
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-md-2">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.dateFin, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.etat, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.campus, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Rechercher</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3 d-flex align-items-center">
            {{ form_label(form.organisateur, null, {'label_attr': {'class': 'me-2'}}) }}
            {{ form_widget(form.organisateur, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-md-3 d-flex align-items-center">
            {{ form_label(form.participant, null, {'label_attr': {'class': 'me-2'}}) }}
            {{ form_widget(form.participant, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-md-3 d-flex align-items-center">
            {{ form_label(form.notParticipant, null, {'label_attr': {'class': 'me-2'}}) }}
            {{ form_widget(form.notParticipant, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-md-3 d-flex align-items-center">
            {{ form_label(form.passe, null, {'label_attr': {'class': 'me-2'}}) }}
            {{ form_widget(form.passe, {'attr': {'class': 'form-check-input'}}) }}
        </div>
    </div>


    {{ form_end(form) }}

    <!-- Table of sorties -->
    <div class="table-responsive border" style="max-width: 1400px; margin: 0 auto;">
        <table class="table table-striped" style="margin-bottom: 0px">
            <thead>
            <tr>
                <th class="w-15 text-center">Nom de la sortie</th>
                <th class="w-10 text-center">Date de la sortie</th>
                <th class="w-10 text-center">Clôture</th>
                <th class="w-6 text-center">Inscrits / Places</th>
                <th class="w-10 text-center">Etat</th>
                <th class="w-6 text-center">Inscrit</th>
                <th class="w-6 text-center">Organisateur</th>
                <th class="w-15 text-center">Actions</th>
            </tr>
            </thead>
        </table>
        <div style="max-height: 430px; overflow-y: auto;">
            <table class="table table-striped table-bordered border">
                <tbody>
                {% for sortie in sorties %}

                    {# Variables #}
                    {% set isParticipant = false %}
                    {% for participant in sortie.participants %}
                        {% if app.user and app.user.nom == participant.nom %}
                            {% set isParticipant = true %}
                        {% endif %}
                    {% endfor %}
                    {% set etatLib = sortie.etat.libelle %}
                    {# Fin variables #}

                    <tr>
                        <td class="w-15 text-center">{{ sortie.nom }}</td>
                        <td class="w-10 text-center">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                        <td class="w-10 text-center">{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                        <td class="w-6 text-center">{{ sortie.participants.count }}
                            / {{ sortie.nbInscriptionsMax }}</td>
                        <td class="w-10 text-center">{{ etatLib }}</td>
                        <td class="w-6 text-center">
                            {% if isParticipant %}
                                <i class="bi bi-check-lg"></i>
                            {% endif %}
                        </td>
                        <td class="w-6 text-center">
                            <a href="{{ path('participant_detailler', {'id': sortie.organisateur.id}) }}">
                                {{ sortie.organisateur.nom | title }} {{ sortie.organisateur.prenom | slice(0,1) }}.
                            </a></td>
                        <td class="w-15 text-center">
                            {# Détail d'une sortie #}
                            <a href="{{ path('sortie_detailler', {'id': sortie.id}) }}" class="btn btn-primary mb-1">Afficher</a>

                            {# Si le participant loggé est l'organisateur #}
                            {% if app.user and app.user.nom == (sortie.organisateur.nom) %}
                                {% if etatLib == 'Créée' %}
                                    <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn btn-success mb-1">Publier</a>
                                    {# {% else %} #}
                                    {# <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a> #}
                                    {# {% endif %} #}
                                {% endif %}
                                {% if etatLib != "Clôturée" and etatLib != "Annulée" %}
                                    <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}"
                                       onclick="return confirm('Êtes-vous sûr de vouloir annuler cette sortie ?');" class="btn btn-danger mb-1">Annuler</a>
                                {% endif %}
                            {% endif %}

                            {# Si le participant loggé est inscrit à cette sortie #}
                            {% if isParticipant and etatLib == "Ouverte" %}
                                <a href="{{ path('sortie_desister', {'id': sortie.id}) }}"
                                   onclick="return confirm('Êtes-vous sûr de vouloir vous désister de cette sortie ?');" class="btn btn-warning mb-1">
                                    Se désister
                                </a>
                            {% else %}
                                {% if etatLib == "Ouverte" and
                                    sortie.dateLimiteInscription|date('U') > "now"|date('U') and
                                    sortie.participants.count < sortie.nbInscriptionsMax %}
                                    <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="btn btn-primary">
                                        S'inscrire
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">
                            Aucune sortie trouvée.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <a class="btn btn-lg btn-primary mt-5" href="{{ path('sortie_creer') }}">
        Créer une sortie
    </a>

    </div>
    </div>

    <style>

    </style>
{% endblock %}
