{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date et Heure de Début</th>
            <th>Date Limite d'Inscription</th>
            <th>Participants</th>
            <th>Max Inscrits</th>
            <th>Je suis inscrit</th>

        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.participants.count }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
{#                <td>{{ app.user.nom }} </td>#}
                <td>
                    {% set isParticipant = false %}
                    {% for participant in sortie.participants %}
                        {% if app.user and app.user.nom == participant.nom %}
                            {% set isParticipant = true %}
                        {% endif %}
                    {% endfor %}
                    {% if isParticipant %}
                        X
                    {% endif %}
                </td>
{#                <td>{{ sortie.etat.libelle }}</td>#}
{#                <td>{{ sortie.lieu.nom }}</td>#}
{#                <td>{{ sortie.campus.nom }}</td>#}
{#                <td>{{ sortie.organisateur.nom }}</td>#}

            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune sortie trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
