{% set noneClass = app.request.attributes.get('_route') == 'app_login' ? '' : 'none' %}
{% set antiNoneClass = app.request.attributes.get('_route') != 'app_login' ? '' : 'none' %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        .loading-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background-color: #f3f3f3;
        }

        .loading {
            position: absolute;
            border-radius: 50%;
            border: 8px solid transparent;
            animation: spin infinite linear;
        }

        .loading1 {
            width: 100px;
            height: 100px;
            border-top-color: #3498db;
            border-right-color: #3498db;
            animation-duration: 1.0s;
        }

        .loading2 {
            width: 130px;
            height: 130px;
            border-top-color: #D7FF7B;
            border-left-color: #D7FF7B;
            animation-duration: 2.0s;
        }

        .loading3 {
            width: 160px;
            height: 160px;
            border-bottom-color: #4D61F4;
            border-left-color: #4D61F4;
            animation-duration: 1.5s;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .none {
            display: none;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="acc-body">
<header class="{{ noneClass }}">
    {% block header %}
        {% include 'menu/nav.html.twig' %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</header>

<main class="{{ noneClass }}">
    <div id="readGuideContainer">
    </div>
    {% block body %}

    {% endblock %}
</main>

<footer class="{{ noneClass }}">
    {% block footer %}
        <div>&copy;GsaProd - {{ "now"| date('Y') }}</div>
    {% endblock %}
</footer>
<div class="loading-container {{ antiNoneClass }}">
    <div class="loading loading3"></div>
    <div class="loading loading2"></div>
    <div class="loading loading1"></div>
</div>
</body>

{% block extraJs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{{ asset('js/accessibility.js') }}"></script>

    {% if app.request.attributes.get('_route') != 'app_login' %}


    <script>
        window.addEventListener("load", function () {
            document.querySelector("header").classList.remove("none");
            document.querySelector("main").classList.remove("none");
            document.querySelector("footer").classList.remove("none");
            document.querySelector(".loading-container").classList.add("none");
        });
    </script>

    {% endif %}
{% endblock %}
</html>
