{# nav>ul>(li>a)*2 #}
<nav>
    <ul>
{#        {% if app.user %}#}
        <li><a href="{{ path('site_accueil') }}">Accueil</a></li>

        <li><a href="#">Liste des sorties</a></li>
        {#            <li><a href="{{ path('sortie_lister') }}">Liste des sorties</a></li> #}
        <li><a href="#">Ajouter une sortie</a></li>
        {#            <li><a href="{{ path('sortie_créer') }}">Ajouter une sortie</a></li>  #}
        <li><a href="#">Mon Profil</a></li>
        {#          <li><a href="{{ path('participant_profil') }}">Mon Profil</a></li>  #}
        <li><a href="#">Villes</a></li>
        {#           <li><a href="{{ path('ville_lister') }}">Villes</a></li>  #}
        <li><a href="#">Campus</a></li>
        {#           <li><a href="{{ path('campus_lister') }}">Campus</a></li>  #}
        <li><a href="#">Se déconnecter</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                {#       #lien dashboard admin     #}
            {% endif %}
{#        {% endif %}#}
    </ul>
</nav>
